@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
/* body {
    /* width: 100vw;
    height: 100vh; */
   
    /* margin: 0; */

/* } 
/* canvas {
    position: absolute;
} */
#caroselWebcam{
    display: flex;
    border: 3px solid #fff;
    padding: 20px;
}
#webcamButton {
    width: 50%;
    /* float: left; */
    /* padding: 20px; */

}
#GIFQoute {
    width: 50%;
    /* float: right; */


}
#vanta-canvas{
    position:absolute;
    z-index:-1;
    width:100%;
    height: 100%;
}
#carouselRES {
    display: flex;
    /* position: relative;
    height: max-content;
    width: max-content;
    padding-left: 170vh;
    padding-top: 20vh;
    padding: 20px;
    padding-right: 0px;
    padding-left: 230px;
    border-left-width: 20px; */

}
.video-circle {
  border-radius: 100%;
      object-fit: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
        padding: 0;
    display: flex;
    align-items: left;
    justify-content: left;
     margin-top: 6vh;
     margin-left: 7vh;
    }
    /* #expressionButton {
        border-radius: 40px;
        background: #cfc4c4;
        box-shadow: inset -22px 22px 44px #a89f9f,
        inset 22px -22px 44px #f6e9e9;
        
    } */
    /* #all {
        display: flex;
    } */
    #form {
        display: inline;
    }
    #qouteDisplay {
        font-family: Raleway;
        color: #fff;
        background-color:  #c8adc0;
        
        
    }
    .qoute-card {
        
        font-family: Raleway;
        background-color:  #c8adc0;
    }
    #expressionButton {
    position: center;
    flex-wrap: wrap;
    margin-top: 4vh;
    margin-left: 31vh;
    font-family: Raleway;
    font-weight: 0;
    font-size: 20px;
    color: #fff;
    background-color:  #c8adc0;
    padding: 10px 30px;
    border: solid #c8adc0 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 50px;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
/* #expressionButton:hover {
transition : 1550ms;
padding: 10px 29px;
transform : translateY(-9px);
background-color: #fff;
color: #420039;
border: solid 2px #420039;
} */

/* #vantajs{
    width: 100%;
    height: 100vh;
} */


/* #expressionButton:active {
	position:relative;
	top:1px;
} */

.vl {
  border-left: 6px solid rgb(79, 11, 50);
  height: 500px;
}

