@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
#caroselWebcam {
  display: flex;
  /* border: 3px solid #fff; */
  padding-top: 20px;
}
.video-circle {
  border-radius: 100%;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  padding: 0;
  /* display: flex; */
  /* align-items: left; */
  /* justify-content: left; */
}
.webcamButton {
  margin-left: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#expressionButton {
  /* position: center; */
  /* flex-wrap: wrap; */
  margin-bottom: 2vh;
  /* margin-left: 31vh;  */
  font-family: Raleway;
  font-weight: 0;
  font-size: 20px;
  color: #fff;
  background-color: #0b0335;

  padding: 10px 30px;
  border: solid #ff00b3 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  cursor: pointer;
}
#gifPlaceholder {
  border-radius: 10%;
  min-width: 480px;
  max-width: 480px;
  max-height: 480px;
  min-height: 480px;
  border: solid rgb(255, 255, 255) 1px;
}
.item img {
  border-radius: 10%;
  min-width: 480px;
  max-width: 480px;
  max-height: 480px;
  min-height: 480px;
}

.carousel-control {
  border: 100px solid transparent;
}
#qouteDisplay {
  font-family: Raleway;
  color: #fff;
  background-color: #c8adc0;
  padding: 5px;
}

#GIFQOUTEVIEWALL {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#buttonNav {
  margin-bottom: 2vh;

  font-family: Raleway;
  font-weight: 0;
  font-size: 20px;
  color: #fff;
  background-color: #0b0335;
  padding: 10px 30px;
  border: solid #ff00b3 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  /* display: flex; */
  /* flex-direction: row; */
  cursor: pointer;
}
#buttonNavView {
  padding-top: 5vh;

  font-family: Raleway;
  font-weight: 0;
  font-size: 20px;
  color: #fff;
  background-color: #0b0335;
  padding: 10px 30px;
  border: solid #ff00b3 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  /* display: flex; */
  /* flex-direction: row; */
  cursor: pointer;
}
#GIFQoute {
  width: 50%;
  min-width: 937px;
  min-height: 650px;
}
#vanta-canvas {
  position: absolute;
  /* z-index:-1; */
  /* overflow: scroll; */
  width: 100%;
  height: 100%;
}
#vanta-canvass {
  position: absolute;
  /* z-index:-1; */
  /* top: -50;
    left: -50; */
  width: 100vw;
  height: 100vh;
  /* overflow-x: scroll; */
  /* background-repeat: repeat-x; */
}


#carouselRES {
  display: flex;
  justify-content: center;
}
#form {
  display: inline;
}
.qoute-card {
  width: 500px;
}
#allQoutes {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  font-family: Raleway;
  color: rgb(255, 0, 0);
  padding: 5px;
  justify-content: space-between;
}
#expressionsButton {
  position: center;
  flex-wrap: wrap;
  margin-top: 4vh;
  margin-left: 31vh;
  font-family: Raleway;
  font-weight: 0;
  font-size: 20px;
  color: #fff;
  background-color: #9a3a7d;
  padding: 10px 30px;
  border: solid #ee79cb 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
